#colorFlipper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
button{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 50px;
    width:200px;
    background:rgb(43, 43, 43);
    color: white;
    border-radius: 50px;
    border: none;   
    outline: none; 
    font-size: 20px;
    cursor: pointer;
}
.colorFlipperHover:hover{
    color:rgb(43, 43, 43);
    background: color;
}